body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

img{
    opacity: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

div{
    height: 30px;
    width: 150px;
    padding: 12px 5px 5px 3px;
    border: 3px solid #f9f500;
    text-align: center;
    color:#f9f500;
    font-size: large;
    font-weight: 700;
    z-index: 1;
}

div:hover{
    border: 3px solid #54D534;
    color:#54D534;
    box-shadow: 0 5px 20px #54D534;
    transition: 300ms;
    transform: scale(1.05);
}